Makefile
Makefile.in
.dirstamp
.deps/
.libs/
*.[ao]
*.l[ao]
stamp-h?
/INSTALL
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/libtool
/libgdamm-*.tar.*
/docs/reference/Doxyfile
/docs/reference/html/
/examples/*/example
/libgda/libgdamm-*.pc
/libgda/libgdammconfig.h
/libgda/src/.stamps/
/tools/extra_defs_gen/generate_extra_defs
